@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');
/* toda a página web */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
}
/* váriaveis */
:root {
  --white: #FFF;
  --whitesmoke: #F9F9F9;
  --light-grey: #ECECEC;
  --grey: #C4C4C4;
  --medium-grey: #A7A7A7;
  --deep-grey: #343434;
  --black: #000000;
  --blue: #1B77F3;
  --red: #CF3C3F;
}
/* tag main */
.main {
  display: flex;
}
/* seção login */
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  min-height: 100vh;
  padding: clamp(35px, 8%, 70px);
}
/* divs para separar o conteudo em dois (logo, title, inputs, icons buttons and checkbox // button login and links) */
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* logo riot games */
.login_logo {
  width: 130px;
  margin-bottom: 80px;
}
/* text "fazer login" */
.login_title {
  color: var(--deep-grey);
  font-size: 1.5em;
  cursor: default;
  margin-bottom: 30px;
}
/* labels (username && password)*/
.login_label {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  cursor: text;
}
/* text span (username && password) */
.login_label span {
  position: absolute;
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--medium-grey);
  margin: 20px;
  cursor: text;
  transition: all 200ms ease;
}
/* quando span tiver selecionado */
.login_label .span-active {
  font-size: 0.7em;
  margin: 8px 10px;
}
/* inputs (username && password) */
.input {
  width: 100%;
  background-color: var(--light-grey);
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  outline: none;
  font-size: 0.9em;
  font-weight: 600;
  padding: 25px 10px 10px;
  color: var(--deep-grey);
}
/* quando os inputs estão sendo "focados" */
.input:focus {
  background-color: var(--whitesmoke);
  border: 2px solid var(--deep-grey);
}
/* div que contem os botoes com as imagens dos icones de login*/
.login_icons {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}
/* imagens dos botoes */
.login_icons img {
  width: 20px;
}
/* botoes dos icones de login */
.icons_button {
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
/* acessando primeiro botao da div login_icons */
.login_icons .icons_button:nth-child(1) {
  background-color: var(--blue);
}
/* acessando segundo botao da div login_icons */
.login_icons .icons_button:nth-child(2) {
  background-color: var(--light-grey);
}
/* acessando terceiro botao da div login_icons */
.login_icons .icons_button:nth-child(3) {
  background-color: var(--black);
}
/* label checkbox */
.login_label--checkbox {
  width: 100%;
  margin: 15px 0 50px;
  font-size: 0.9em;
  font-weight: 500;
  display: flex;
  align-items: center;
}
/* input checkbox */
.input--checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--light-grey);
  margin-right: 8px;
  border-radius: 3px;
  cursor: pointer;
}
/* pseudo element input checkbox */
.input--checkbox:checked {
  background-color: var(--red);
}
/* pseudo element input checkbox */
.input--checkbox:checked::after {
  content: '';
  display: block;
  width: 5px;
  height: 10px;
  border: 3px solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  margin: 2px 6px;
}
/* botao de login */
.login_button {
  width: 60px;
  height: 60px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--red);
  border-radius: 20px;
  border: none;
  margin-bottom: 60px;
  cursor: pointer;
}
/* imagem right arrow */
.login_button svg {
  fill: white;
}
/* pseudo class (quando o botao esta desativado) */
.login_button:disabled {
  cursor: auto;
  background-color: white;
  border: 2px solid var(--light-grey);
}
/* pseudo class que acessa a imgaem quando botao esta desativado */
.login_button:disabled svg {
  fill: var(--grey);
}
/* links */
.login_link {
  font-size: 0.8em;
  text-decoration: none;
  color: var(--medium-grey);
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 700;
}
/* img wallpaper */
.wallpaper {
  width: 100%;
  background-image: url('./images/wallpaper.jpg');
  background-size: cover;
  background-position: center;
  flex: 1;
}